.locationCard {
  width: 230px;
  padding: 32px;
  border-radius: 32px;
  border: 1px solid rgba(25, 24, 37, 0.1);

  background: #fff;
  text-align: center;

  h5 {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #ff5722;
    font-size: 35px;
    line-height: 120%;
  }
  p {
    color: #191825;
    font-family: Inter;
    font-size: 18px;
    line-height: 160%;
  }
}

@media (max-width: 1170px) {
  .locationCard {
    width: 170px;
    padding: 26px;

    h5 {
      font-size: 28px;
    }
    p {
      font-size: 14px;
    }
  }
}
